*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #6DFC56;
  background-image: url(./assets/hero_img.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}